.header {
  background: $grey-purple;
}
.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: white;
}

.navigation__content {
  display:flex;
  justify-content: space-evenly
}

